* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(16, 9, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}
.container {
  background:linear-gradient(lightblue,rgb(152, 152, 230),rgb(152, 152, 230),rgb(0,0, 230)) ;
  height: 450px;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  text-align: center;
}
.nav-bar {
  width: 100%;
  text-wrap: nowrap;
}
.heading h1 {
  text-transform: capitalize;
  font-size: 27px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.nav-bar input,
button {
  padding: 7px;
  border: none;
  border-radius: 7px;
}
.nav-bar input {
  width: 70%;
}
.weather-details .image {
  padding-top: 20px;
  width: 100px;
  height: 140px;
  padding-bottom: 20px;
}

.other-details{
    position: relative;
    width: 100%;
    text-wrap: nowrap;
}
.other-details img{
    width: 50px;
}
.other-details .humidity{
    position: absolute;
    height: 20px;
    width: 30px;
    top: 20px;
    left: 30px;
}
.other-details .wind-speed{
    position: absolute;
    height: 20px;
    width: 30px;
    top:20px;
    right: 90px;
}
.other-details p,.other-details h3{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.nav-bar input:focus{
    border: none;
    outline: none;
    border:1px solid red;
}
.nav-bar input,.nav-bar button{
    font-size: 18px;
    background-color: white;
}
.nav-bar button:hover{
 background-color:lightblue;
}
